[submodule "Cryptography/Super Safe RSA 2/solution/Cryptography/Super Safe RSA 2/solution/wienerAttack"]
	path = Cryptography/Super Safe RSA 2/solution/Cryptography/Super Safe RSA 2/solution/wienerAttack
	url = https://github.com/pablocelayes/rsa-wiener-attack.git
