[submodule "msieve"]
    path = Cryptography/Super Safe RSA/solution/msieve
    url = git://github.com/radii/msieve.git
[submodule "Binary Exploitation/can-you-gets-me/solution/ROPgadget"]
	path = Binary Exploitation/can-you-gets-me/solution/ROPgadget
	url = https://github.com/JonathanSalwan/ROPgadget.git
